<div class="container">
  <div class="row">
      <% if !@pending.empty? %>
      <h3>You have <%= pluralize(@pending.count, "friend request") %>!</h3>
      <% @pending.each do |pending| %>
        <div class="col-md-8">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4><%= pending.friend.email %></h4>
            </div>
            <div class="panel-body">
              <%= link_to "Accept", user_friendship_path(current_user, :id => pending.friend.id), method: "patch", class: "btn btn-success" %>
              <%= link_to "Deny", user_friendship_path(current_user, :id => pending.friend.id), method: "delete", class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>

  </div>
  <div class="row">
      <% if @requested.empty? %>
        <h3> You have no friend requests! <%= link_to "Find some friends!", users_path %> </h3>
      <% else %>
        <h3> <%= pluralize(@requested.count, "friend request") %></h3>
      <% end %>
      <% @requested.each do |requested| %>
        <div class="col-md-8">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4><%= requested.friend.email %></h4>
            </div>
            <div class="panel-body">
              <%= link_to "Cancel", user_friendship_path(current_user, :id => requested.friend.id), method: "delete", class: "btn btn-danger" %>
            </div>
          </div>
        </div>
        <% end %>
    </div>
  <div class="row">
      <% if @friends.empty? %>
        <h3> You have no friends! <%= link_to "Find some!", users_path %> </h3>
      <% else %>
        <h3> <%= pluralize(@friends.count, "friend") %></h3>
      <% end %>
      <% @friends.each do |friend| %>
        <div class="col-md-8">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4><%= friend.friend.email %></h4>
            </div>
            <div class="panel-body">
              <%= link_to "Unfriend", user_friendship_path(current_user, :id => friend.friend.id), method: "delete", class: "btn btn-danger" %>
            </div>
          </div>
        </div>
        <% end %>
    </div>

  </div>
</div>
