<div class="container">
  <div class="row">
      <% if !@pending.empty? %>
      <h3>You have <%= pluralize(@pending.count, "friend request") %>!</h3>
      <% @pending.each do |pending| %>
        <div class="col-md-8">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4><%= pending.friend.email %></h4>
            </div>
            <div class="panel-body">
              <%= form_tag(user_friendship_path(current_user, pending.friend.id),  method: "patch", class: "form-inline") do %>
                <div class="form-group">
                  <%= hidden_field_tag(:friend_id, pending.friend.id) %>
                  <%= submit_tag "Accept", class:"btn btn-success" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>

  </div>
  <div class="row">
      <% if @friends.empty? %>
        <h3> You have no friends! <%= link_to "Find some!", users_path %> </h3>
      <% else %>
        <h3> <%= pluralize(@friends.count, "friend") %></h3>
      <% end %>
      <% @friends.each do |friend| %>
        <div class="col-md-8">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4><%= friend.friend.email %></h4>
            </div>
            <div class="panel-body">
              <%= form_tag(user_friendship_path(current_user, friend.friend.id),  method: "delete", class: "form-inline") do %>
                <div class="form-group">
                  <%= hidden_field_tag(:friend_id, friend.friend.id) %>
                  <%= submit_tag "Unfriend", class:"btn btn-success" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
    </div>

  </div>
</div>
