<div class="well" id="post-form-well" >

<% unless @edit %>
  <%= form_for @post, html: {class: "form-vertical", id: "post-form", multipart: true, :remote => true } do |f| %>
    <%= f.hidden_field :author_id, value: current_user.id %>
    <div class="form-group">
      <%= f.text_field :content, class: "form-control", placeholder: "Share your thoughts..." %>
    </div>
    <div class="form-group">
      <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png, image/jpg' %>
    </div>
    <div class="form-group">
      <%= f.submit "Share", class: "btn btn-primary" %>
    </div>
  <% end %>
<% else %>
  <%= form_for @post, html: {class: "form-vertical", id: "post-form", multipart: true, :remote => false } do |f| %>
    <%= f.hidden_field :author_id, value: current_user.id %>
    <div class="form-group">
      <%= f.text_field :content, class: "form-control", placeholder: "Share your thoughts..." %>
    </div>
    <div class="form-group">
      <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png, image/jpg' %>
    </div>
    <div class="form-group">
      <%= f.submit "Share", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

  <script type="text/javascript">


    $('#post_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;

      if (size_in_megabytes > 5) {
        var file = document.getElementById("post_picture");
        file.value = file.defaultValue;
        alert('Maximum file size is 5MB. Please choose a smaller size.');
      }
    });
  </script>
</div>
