<!DOCTYPE html>
<html>

<head>
  <title>Odinbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>

<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
  <% if !flash[:notice].blank? %>
    <div class="panel panel-success">
      <div class="panel-body">
      <p class="notice">
        <%= notice %>
      </p>
    </div>
    </div>
  <% end %>
  <% if !flash[:alert].blank? %>
    <div class="panel panel-warning">
      <div class="panel-body">
      <p class="alert">
        <%= alert %>
      </p>
    </div>
  </div>
  <% end %>
</div>
</div>
</div>
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
</body>

</html>
